TODO.md

node_modules/

.turbo

.DS_Store

*.zip

.ebextensions

/scripts/.env

privatekey.pem
csr.pem
public.crt
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

out/

.turbo
