.tmp
.cache/
coverage/
.nyc_output/
**/.pnp.*
/dist*/

client/.tmp
client/.cache/
client/coverage/
client/.nyc_output/
client/**/.pnp.*
client/dist*/
client/node_modules/

client/tailwind.config.js
client/index.html

client/src/components/ui/