@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Satoshi';
    src: url('../assets/fonts/Satoshi-Regular.woff') format('woff');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('../assets/fonts/Satoshi-Bold.woff') format('woff');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('../assets/fonts/Satoshi-Black.woff') format('woff');
    font-weight: 900;
  }
}
